.cell-55 {
    left: 92.605%;
    top: 83.311%;
    border: 5px solid #dbc011;
}

.cell-54 {
    left: 92.605%;
    top: 71.445%;
    border: 5px solid #512da8;
}

.cell-53 {
    left: 92.605%;
    top: 59.579%;
    border: 5px solid #3ab40a;
}

.cell-start {
    left: 86.032%;
    top: 86.875%;
    border: 5px solid #2fa508;
}

.cell-1 {
    left: 79.357%;
    top: 86.875%;
    border: 5px solid #9c0404;
}

.cell-2 {
    left: 72.672%;
    top: 86.875%;
    border: 5px solid #dbc016;
}

.cell-3 {
    left: 65.987%;
    top: 86.875%;
    border: 5px solid #512da8;
}

.cell-4 {
    left: 59.211%;
    top: 86.875%;
    border: 5px solid #f70606;
}

.cell-5 {
    left: 52.435%;
    top: 86.875%;
    border: 5px solid #f70606;
}

.cell-6 {
    left: 52.543%;
    top: 75.559%;
    border: 5px solid #2fa508;
}

.cell-7 {
    left: 52.405%;
    top: 64.311%;
    border: 5px solid #dbc016;
}

.cell-8 {
    left: 52.405%;
    top: 53.063%;
    border: 5px solid #512da8;
}

.cell-fork1 {
    left: 50.627%;
    top: 42.538%;
    border: 5px solid #512da8;
}

.cell-9 {
    left: 55.936%;
    top: 36.187%;
    border: 5px solid #2fa508;
}

.cell-10 {
    left: 62.221%;
    top: 33.939%;
    border: 5px solid #2fa508;
}

.cell-11 {
    left: 62.221%;
    top: 22.680%;
    border: 5px solid #f70606;
}

.cell-12 {
    left: 62.185%;
    top: 11.309%;
    border: 5px solid #dbc016;
}

.cell-13 {
    left: 44.208%;
    top: 42.538%;
    border: 5px solid #f70606;
}

.cell-14 {
    left: 42.703%;
    top: 53.373%;
    border: 5px solid #f70606;
}

.cell-15 {
    left: 42.703%;
    top: 64.635%;
    border: 5px solid #512da8;
}

.cell-16 {
    left: 42.644%;
    top: 75.854%;
    border: 5px solid #dbc016;
}

.cell-17 {
    left: 41.286%;
    top: 86.934%;
    border: 5px solid #f70606;
}

.cell-18 {
    left: 35.000%;
    top: 84.053%;
    border: 5px solid #f70606;
}

.cell-fork {
    left: 31.000%;
    top: 74.838%;
    border: 5px solid #512da8;
}

.cell-19 {
    left: 27.645%;
    top: 64.121%;
    border: 5px solid #dbc016;
}

.cell-20 {
    left: 24.650%;
    top: 53.106%;
    border: 5px solid #512da8;
}

.cell-21 {
    left: 21.360%;
    top: 42.625%;
    border: 5px solid #2fa508;
}

.cell-22 {
    left: 18.147%;
    top: 31.373%;
    border: 5px solid #f70606;
}

.cell-23 {
    left: 14.787%;
    top: 20.250%;
    border: 5px solid #2fa508;
}

.cell-24 {
    left: 11.534%;
    top: 9.249%;
    border: 5px solid #f70606;
}

.cell-25 {
    left: 26.860%;
    top: 83.680%;
    border: 5px solid #f21a1a;
}

.cell-26 {
    left: 20.607%;
    top: 86.875%;
    border: 5px solid #f70606;
}

.cell-27 {
    left: 13.821%;
    top: 86.875%;
    border: 5px solid #512da8;
}

.cell-28 {
    left: 7.036%;
    top: 86.875%;
    border: 5px solid #e72f31;
}

.cell-29 {
    left: 0%;
    top: 83.713%;
    border: 5px solid #e72f31;
}

.cell-30 {
    left: 0%;
    top: 71.930%;
    border: 5px solid #e72f31;
}

.cell-31 {
    left: 0%;
    top: 59.962%;
    border: 5px solid #e72f31;
}

.cell-32 {
    left: 0%;
    top: 48.126%;
    border: 5px solid #512da8;
}

.cell-33 {
    left: 0%;
    top: 36.248%;
    border: 5px solid #f70606;
}

.cell-34 {
    left: 0%;
    top: 24.491%;
    border: 5px solid #f70606;
}

.cell-35 {
    left: 0%;
    top: 12.501%;
    border: 5px solid #f70606;
}

.cell-36 {
    left: 0%;
    top: 0%;
    border: 5px solid #f70606;
}

.cell-37 {
    left: 7.283%;
    top: 0%;
    border: 5px solid #512da8;
}

.cell-38 {
    left: 15.897%;
    top: 0%;
    border: 5px solid #dbc016;
}

.cell-39 {
    left: 23.567%;
    top: 0%;
    border: 5px solid #2fa508;
}

.cell-40 {
    left: 31.286%;
    top: 0%;
    border: 5px solid #f70606;
}

.cell-41 {
    left: 39.007%;
    top: 0%;
    border: 5px solid #0feaf1;
}

.cell-42 {
    left: 46.727%;
    top: 0%;
    border: 5px solid #2fa508;
}

.cell-43 {
    left: 54.427%;
    top: 0%;
    border: 5px solid #dbc016;
}

.cell-44 {
    left: 62.185%;
    top: 0%;
    border: 5px solid #512da8;
}

.cell-45 {
    left: 69.879%;
    top: 0%;
    border: 5px solid #f70606;
}

.cell-46 {
    left: 77.574%;
    top: 0%;
    border: 5px solid #2fa508;
}

.cell-47 {
    left: 85.314%;
    top: 0%;
    border: 5px solid #f70606;
}

.cell-48 {
    left: 92.605%;
    top: 0%;
    border: 5px solid #dbc016;
}

.cell-49 {
    left: 92.605%;
    top: 12.063%;
    border: 5px solid #512da8;
}

.cell-50 {
    left: 92.605%;
    top: 23.934%;
    border: 5px solid #f70606;
}

.cell-51 {
    left: 92.605%;
    top: 35.797%;
    border: 5px solid #2fa508;
}

.cell-52 {
    left: 92.605%;
    top: 47.693%;
    border: 5px solid #f70606;
}